name: Publish branch with JFrog

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to publish"
        required: true
        default: "main"

permissions:
  id-token: write
  packages: write
  contents: read
  attestations: write

env:
  NPM_REGISTRY: jfrog.ledgerlabs.net/artifactory/api/npm/ledgerlive-npm-prod-public

jobs:
  publish:
    runs-on: public-ledgerhq-shared-small
    defaults:
      run:
        working-directory: ./lib/
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 9.6.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: pnpm run build

      - name: Create tarball
        run: |
          mkdir -p ../dist
          echo "TARBALL=$(pnpm pack --pack-destination ../dist)" >> $GITHUB_ENV

      - name: Get PR name
        id: get-pr-name
        run: echo "PR_NAME=${{ github.event.inputs.branch }}" >> $GITHUB_ENV

      - name: Rename tarball with PR name
        working-directory: ./dist/
        run: |
          OLD_NAME=$(basename $TARBALL)
          NEW_NAME=$(echo $OLD_NAME | sed "s/\.tgz/-${PR_NAME}.tgz/")
          mv "$OLD_NAME" "$NEW_NAME"
          echo "TARBALL=$(pwd)/${NEW_NAME}" >> $GITHUB_ENV

      - name: Attest for npmjs.com
        uses: LedgerHQ/actions-security/actions/attest-for-npmsjs-com@attest-npm-dir-support
        with:
          subject-path: ./dist

      - name: Sign tarball
        uses: LedgerHQ/actions-security/actions/sign-blob@actions/sign-blob-1
        with:
          path: ./dist

      - name: Login to JFrog Ledger
        id: jfrog-login
        uses: LedgerHQ/actions-security/actions/jfrog-login@actions/jfrog-login-1

      - name: Setup npm config for JFrog
        working-directory: ./dist/
        env:
          NPM_REGISTRY_TOKEN: ${{ steps.jfrog-login.outputs.oidc-token }}
        run: |
          cat << EOF | tee .npmrc
          registry=https://${NPM_REGISTRY}/
          //${NPM_REGISTRY}/:_authToken=${NPM_REGISTRY_TOKEN}
          EOF

      - name: Publish package to JFrog
        working-directory: ./dist/
        run: pnpm publish $TARBALL --no-git-checks
